<div class="container-bigCard">
  <div class="bigCard-photo">
    <img src="https://i.stack.imgur.com/luaq2.png" alt="" height="200px" />
  </div>

  <div class="bigCard-title">
    <h1><a href="#">Saiu a nova versão do Angular!</a></h1>
  </div>

  <div class="bigCard-description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A laboriosam
        vitae omnis unde deleniti voluptate consequuntur non repudiandae
        accusamus illo. In excepturi corrupti impedit non atque quas dicta fugit
        nostrum?
      </a>
    </p>
  </div>
</div>
