<div class="container-bigCard">
  <div class="bigCard-photo">
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt=""
      height="200px"
    />
  </div>

  <div class="bigCard-title">
    <h1><a href="#">Saiu a nova versão do Angular!</a></h1>
  </div>

  <div class="bigCard-description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A laboriosam
        vitae omnis unde deleniti voluptate consequuntur non repudiandae
        accusamus illo. In excepturi corrupti impedit non atque quas dicta fugit
        nostrum?
      </a>
    </p>
  </div>
</div>
