.container-menuTitle {
  color: white;
  margin-top: 15px;
}

.container-menuTitle > h1 {

  margin-bottom: 15px;
  font-size: 7rem;
  font-family: 'segoe UI';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.container-menuTitle > hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
