.container-smallCard {
  width: 700px;

  margin-bottom: 15px;
}

.container-smallCardContent {
  display: flex;
  flex-direction: row;
}

.smallCard-photo > img {
  width: 200px;
  min-width: 200px;

  margin-right: 20px;
}

.smallCard-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-smallCardSeparator {
  margin-top: 10px;
}
